html {text-align: center;} 
/* Reset margin for all divs */ 
div { 
    margin: 0; 
    padding: 0; /* Optional: also reset padding */ 
} 
body {font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1.2rem;
    line-height: 1.65;}
.headings {font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0.5em;
    color: #25a2c3;
    font-weight: bold;
    line-height: 1.5;
    }
header img {padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: auto;}
h1 {font-size: 2.5em;
    }
h2 {font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2em;}
#arancione span {font-size: smaller;
}
#arancione {background-color: #f04c2f;
    padding: 2em;
    color: white;
    margin-top: 2em;}
#italic {font-style: italic;
    padding: 2em 0em;
}
#arancione b { font-weight: bold;}
#black {background-color: black;}
#banner {background-image: url(banner.jpg);
    background-size: cover;
    padding: 2em 0em; 
}
button {margin-top: 2em;
    margin-bottom: 2em;
    background-color: #f04c2f;
    border-radius: 4px;
    border-color:#f04c2f;
    }
button span {font-weight: bold;
        color: white;
        padding-left: 1em;
        padding-right: 1em;}

#cerchio { padding: 1em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    height: auto;}
nav  div {padding: 2em;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
margin: 2em;
}
nav img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
header p {padding: 1em 3em;}
footer {background-color: #25a2c3;
    color:  white;
    padding: 1em;}
footer li::marker {
        color: #25a2c3;
      }
h5 {font-size: 2em;
    font-weight: bold;
    padding: 1em;}
a {color: white;}
footer ul {padding: 1em;}
footer p {padding: 1em 1em 2em 1em;}
hr {width: 50%;
    color: white;}
section {padding: 0em 1em 0em 1em;
margin: 3em 0em;}